body {
  background: #f8f8f8; /*ecf1F5;*/
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #273948;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin: -20px -21px 20px -20px;
}
.nav-sidebar li a {
  color: #a7b1c2;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar .active > a,
.nav-sidebar .active a:hover, .nav-sidebar a:hover,
.nav-sidebar .active a:focus, .nav-sidebar a:focus {
  color: #fff;
  background-color: #243644 !important;
}
.nav-sidebar > li:nth-child(2) {
  margin-top: 115px;
}

/* User profile */
.nav-sidebar .media {
  color: #a7b1c2;
  padding: 15px 10px;
  background: #243644;
  font-size: 12px;
  border-bottom: 1px solid #273948;
  position: fixed;
  z-index: 10;
  width: 16%; /***************************** XXXXXXXXXXXXXXXXXXXXXXXXXXX TODO: changed this*******/
}
.nav-sidebar .media img {
  width: 50px;
  height: 50px;
  border: 1px solid #6C7B92;
}
.nav-sidebar .media-body {
  vertical-align: middle;
}
.nav-sidebar .media-body h4 {
  font-size: 14px;
  color: #fff;
}

/* Sub menu */
.nav-sidebar .nav-submenu li a {
  padding: 5px 35px;
}

.navbar {
  margin: 0px -20px;
  border-radius: 0px;
  border-top: 0px;
  background: #fff;
  border-color: #f2f2f2;
}

.btn-tasks:hover ~ .slidemenu {
  right: 0px;
}



















/*/
/* gridster
/*/


.gridster * {
  margin:0;
  padding:0;
}

.gridster ul {
    background-color: #EFEFEF;
    list-style-type: none;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: red!important;
}
