collapsebody {
    background: #f8f8f8; /*ecf1F5;*/
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-bottom: 95px;
    background-color: #273948;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin: -20px -21px 20px -20px;
}

.nav-sidebar li a {
    color: #a7b1c2;
    padding-right: 20px;
}

.nav-sidebar .active > a,
.nav-sidebar .active a:hover, .nav-sidebar a:hover,
.nav-sidebar .active a:focus, .nav-sidebar a:focus {
    color: #fff;
    background-color: #243644 !important;
}

/* User profile */
.nav-sidebar .media {
    color: #a7b1c2;
    padding: 15px 10px;
    background: #243644;
    font-size: 12px;
    border-bottom: 1px solid #273948;
}

.nav-sidebar .media img {
    width: 50px;
    height: 50px;
    border: 1px solid #6C7B92;
}

.nav-sidebar .media-body {
    vertical-align: middle;
}

.nav-sidebar .media-body h4 {
    font-size: 14px;
    color: #fff;
}

/* Sub menu */
.nav-sidebar .nav-submenu li a {
    padding: 5px 15px 5px 20px;
}

.navbar {
    margin: 0px -20px;
    border-radius: 0px;
    border-top: 0px;
    background: #fff;
    border-color: #f2f2f2;
}

.btn-tasks:hover ~ .slidemenu {
    right: 0px;
}

/*----------------- REACT -------------------*/

.loader {
    width: 0px;
    height: 2px;
    background: #F00;
    position: absolute;
    top: 0;
    animation: 2s ease-in-out loading;
}

@keyframes loading {
    0% { width: 0px; }
    100% { width: 100%; }
}

.nav-sidebar .dropdown-menu {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #273948;
    border-radius: 0px;
}

.nav-sidebar .dropdown-menu li a:hover {
    color: #FFF;
}

.nav-sidebar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close*/
}

/*-------------------------------------------*/

.container-fluid .grid-list {
    padding: 0px;
}

.box {
    margin: 15px 10px 0px 0px;
    min-height: 175px;
}

.box, .box .build-details {
    width: 330px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
    padding: 5px 0px;
}

.box .header {
    position: relative;
    color: #161616;
    padding-top: 5px;
    z-index: 100;
}

.box .header h4 {
    color: #364860;
    margin-top: 5px;
    font-size: 14px;
}

.box .header h5 {
    font-size: 12px;
    line-height: 3px;
    font-weight: normal;
    color: #979AA1;
}

.box .row {
    margin: 0px 10px;
}

.box .media {
    margin-top: 10px;
    font-size: 13px;
}

.box .header .version {
    color: #364860;
    font-size: 14px;
    padding: 3px 0px;
    font-weight: bold;
}

.box .btn-settings {
    font-size: 17px;
}

.box .btn-settings .dropdown-toggle {
    color: #333;
}

.box .footer {
    padding: 5px 10px;
}

.box .time {
    color: #979AA1;
    font-size: 10px;
}

.box .content {
    height: 70%;
    padding: 20px 10px;
}

.box .content ul > li img {
    width: 17px;
    height: 17px;
}

.box .dropdown {
    width: 100%;
}

.box .dropdown button {
    width: 100%;
    text-align: left;
    padding-bottom: 0px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: none;
}

.box .dropdown button:hover {
    border-color: #ccc;
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.box .dropdown-menu {
    width: 100%;
    margin-top: -1px;
    max-height: 265px;
    overflow: auto;
}

.box .build-details {
    position: absolute;
    margin-left: -10px;
    margin-top: -284px;
    overflow: auto;
    padding: 10px;
    z-index: 99;
    display: none;
}

.box .btn-install {
    display: none;
}

/*.dropdown:hover .dropdown-menu {*/
    /*display: block;*/
    /*margin-top: 0; !* remove the gap so it doesn't close *!*/
/*}*/

/* Notifications */
.notifications-container {
    position: absolute;
    margin: 0 auto;
    margin-top: -30px;
    left: 0;
    right: 0;
    width: 60%;
    z-index: 1000;
}

.alert-expire {
    -webkit-animation: alert-expire .3s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation: alert-expire .3s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
}

@-webkit-keyframes alert-expire {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
}
@keyframes alert-expire {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }
}

.close {
    font-weight: 300;
}