.slidemenu {
  background: #fff;
  border-left: 1px solid #f2f2f2;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.slidemenu-vertical {
  width: 25%;
  height: 100%;
  top: 51px;
  z-index: 1000;
}

.slidemenu-right {
  right: -25%;
}

.slidemenu-open {
  right: 0px;
}


.slidemenu .list-group-item {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0px;
}
.slidemenu .list-group-item-heading .title {
  font-weight: bold;
}
.slidemenu .list-group-item-heading .time {
  font-size: 10px;
}
.slidemenu .list-group-item-text {
  font-size: 12px;
}
.slidemenu .progress {
  height: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.slidemenu .progress-bar-value {
  background-color: #289C85;
}
